<!--
/*
 *	This content is generated from the PSD File Info.
 *	(Alt+Shift+Ctrl+I).
 *
 *	@desc
 *	@file 		desktop___1
 *	@date 		1656363449732
 *	@title 		Page 1 (Screens)
 *	@author
 *	@keywords
 *	@generator 	Export Kit v1.3.figma
 *
*/
 -->
 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	 <head>
		 <meta http-equiv="content-type" content="text/html" charset="utf-8" />
		 <title>Yearbook 2022</title>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <meta name="description" content="" >
		 <link rel="StyleSheet" href="../assests/maprc3.css" />
		 <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  		<link rel="preconnect" href="https://fonts.googleapis.com">
  		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  		<script src="https://kit.fontawesome.com/dac226ae39.js" crossorigin="anonymous"></script>
		<link rel="apple-touch-icon" sizes="57x57" href="../assests/skins/icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../assests/skins/icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../assests/skins/icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../assests/skins/icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../assests/skins/icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../assests/skins/icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../assests/skins/icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../assests/skins/icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../assests/skins/icons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="../assests/skins/icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../assests/skins/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../assests/skins/icons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../assests/skins/icons/favicon-16x16.png">
		<link rel="manifest" href="../assests/skins/icons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../assests/skins/icons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		
 
	 </head>
	 <body>
		<div style="display: none" id="hideAll">&nbsp;</div>
		<!-- <div id="loader"><img src="../assests/skins/loading.gif"></div> -->
		<div class="bg">
			<div class="container" >
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <h1>Yearbook | class of 2022</h1>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <a href="/login">
							<button type="button" class="btn btn-success button ">Login</button>
						</a>
                    </div>
                </div>
			<!-- <section id ="Yearbbok">
				<div class="row">
					<div class="col">
					  <h1 class ="heading2">Year Book | Class of 2022</h1>
					</div>
					<div class="col">
						<a href="/login">
							<button type="button" class="btn btn-success button ">Login</button>
						</a>
					</div>
				</div>
			</section>

			<section id="MAPRC_logo_info">
				<div class="row2">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<img src="..\assests\skins\gold_trans_2.png" class="logo"alt="">
						<h1 class="this_website_is_managed_by_maprc___iit_gandhinagar">This website is managed by<br/>MAPRC | IIT GANDHINAGAR</h1>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<h3 class="previous_year">Previous Year <a href="https://students.iitgn.ac.in/yearbook/2021/"><br/>Year Book of Class 2021<br/></a></h3>
					</div>
				</div>	
			</section>

			<section id="follow">
				     <a href="https://www.instagram.com/studentlife_iitgn/"><img src="..\assests\skins\vector.png" id="vector" /></img><a>
					 <a href="https://www.linkedin.com/company/media-and-public-relations-committee-iit-gandhinagar/"><img src="../assests/skins/linkedin.png"  id="vector_ek1" /></img></a>
					 <a href="https://www.facebook.com/IITGNStudentLife/"><img src="..\assests\skins/vector_ek2.png" id="vector_ek2" /></img></a>
					 <a href="https://www.youtube.com/c/STUDENTLIFEIITGN"><img src="..\assests\skins/vector_ek3.png" id="vector_ek3" /></img></a>
			</section> -->
		    </div>
	    </div>
	 </body>
	 <script src="..\assests\index.js" charset="utf-8"></script>
	 <script type="text/javascript">
		document.getElementById("hideAll").style.display = "block";
		window.onload = function() 
  		{ document.getElementById("hideAll").style.display = "none"; }
	  </script> 
 </html>
 