<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="../assests/Favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../assests/Favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../assests/Favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../assests/Favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../assests/Favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../assests/Favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../assests/Favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../assests/Favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../assests/Favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../assests/Favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../assests/Favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../assests/Favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../assests/Favicon/favicon-16x16.png">
	<link rel="manifest" href="../assests/Favicon/manifest.json">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href= "..\assests\MAPRC2.css" rel="stylesheet" type="text/css" />
    <div class="background">
        <main>
            <div class="wrapper">
                <div class="heading">
                    <h1>Login with your IITGN credentials to access the website</h1>
                </div>
                    <p class="yearbook">Yearbook | Class of 2022</p>
                    <a href="/auth/google">
                        <button type="submit" class="btn btn-primary"><div class="google"><img src="../assests/google.png"></img><p class="continue">Continue with Google</p></div></button>
                    </a>
            </div>
        </main>
    </div>
</body>
</html>

