<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href= "..\assests\MAPRC2.css" rel="stylesheet" type="text/css" />
    <div class="background">
        <main>
            <div class="wrapper">
                <div class="heading">
                    <h1>Login with your IITGN credentials to access the website</h1>
                </div>
                <form class="item form-group"  action="/" method="post" >	
                    <p class="yearbook">Yearbook | Class of 2022</p>
                    
                    <button type="submit" class="btn btn-primary"><div class="google"><img src="../assests/google.png"></img><p class="continue">Continue with Google</p></div></button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>

